name: pipeline-diario

on:
  schedule:
    - cron: "0 10 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar codigo
        uses: actions/checkout@v4

      - name: Instalar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar dependencias
        run: pip install -r requirements.txt

      - name: Rodar pipeline
        env:
          GSHEET_CREDS_JSON: ${{ secrets.GSHEET_CREDS_JSON }}
          SHEET_ID: ${{ secrets.SHEET_ID }}
        run: python main.py
